// colors
$body-bg: rgba(255, 254, 251, 0.8);
$black: #3f3f3f;
$white: #ffffff;
$grey: #49485e;
$grey-300: #eeeeee;
$grey-200: #fffefb;
$grey-100: #b4b4b4;
$success: #7bae73;
$brown: #bb5a00;
$pink: #ff8484;

//shadows
$shadow-primary: 0px 20px 30px rgba(0, 0, 0, 0.04), 0px 6px 10px rgba(0, 0, 0, 0.02);
$shadow-secondary: 0px 2px 5px rgba(0, 0, 0, 0.1);
$shadow-hover: 0px 2px 5px rgb(0 0 0 / 17%);

// breakpoints
$mobile-width-only: 729px;
$tablet-width: 730px;
$desktop-width: 1200px;

//radius
$border-radius--10: 10px;
$border-radius--4: 4px;
